# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Media
media/

# SQLite database
*.sqlite3

# Static files
staticfiles/

# Environment variables
*.env

# Logs
*.log

